.stepper {
  counter-reset: my-awesome-counter;
  list-style: none;
}

.stepper li {
  counter-increment: my-awesome-counter;
  position: relative;
}

.stepper li::before {
  @apply bg-neutral-1 text-sm inline-flex items-center justify-center mie-1ex w-7 h-7 rounded-full border-solid border-current border;
  content: counter(my-awesome-counter);
}
