.indicator {
  @apply opacity-75;
  background-image: url("data:image/svg+xml,%3Csvg stroke='rgba(255,255,255)' fill='rgba(255,255,255)' stroke-width='0' viewBox='0 0 1024 1024' height='0.5em' width='0.5em' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M840.4 300H183.6c-19.7 0-30.7 20.8-18.5 35l328.4 380.8c9.4 10.9 27.5 10.9 37 0L858.9 335c12.2-14.2 1.2-35-18.5-35z'%3E%3C/path%3E%3C/svg%3E");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: 42.5% 50%;
}

.select:focus ~ .indicator {
  @apply opacity-90;
  transform: rotate(180deg);
}
