.pseudoIndicator::before {
    @apply inline-start-0;
}

.pseudoIndicator::before,
.pseudoTimeline .pseudoIndicator:not(:first-child)::after {
    @apply absolute top-0 -translate-y-7/12 bg-true-black px-1 text-xl;
}

.pseudoTimeline .pseudoIndicator:not(:last-child)::before {
  content: '✉️';
}

.pseudoTimeline .pseudoIndicator:not(:first-child)::before {
  @apply -translate-x-1/2;
  content: '🗳️';
}

.pseudoTimeline .pseudoIndicator:not(:first-child)::after {
    content: '🏁';
  }
  

.pseudoTimeline .pseudoIndicator:not(:first-child)::after {
    @apply inline-end-0;
}