@import "tailwindcss";
@config "../tailwind.config.js";
@plugin "@tailwindcss/typography";

/* // Edit simplebar styles */
.simplebar-scrollbar::before {
  background-color: #6a6a6a;
}

/* Edit toastify styles */

.Toastify__toast-theme--colored.Toastify__toast--default {
  background-color: white !important;
  color: #e5e5e5 !important;
  border-radius: 10px !important;
  box-shadow: 0 -2px 4px #28282c, 0 2px 4px #28282c, 0 1px 2px #28282c !important;
}

.Toastify__close-button {
  color: black !important;
}

.list-explainer li:hover::before {
  transform: rotate(15deg);
}

.list-bullet-points li::before {
  content: "\2022";
  color: #9d9d9d;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.infinite-submissions {
  text-shadow: 1px 1px 8px rgba(120, 255, 198, 1);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove labels from rc-slider */
.rc-slider-mark-text {
  font-size: 0 !important;
}

li {
  box-sizing: border-box;
}

/* Edit react-datepicker styles */

.react-datepicker {
  background-color: black !important;
  font-size: 14px !important;
  font-family: "Lato" !important;
}

.popper-custom {
  position: unset !important;
  transform: none !important;
}

.react-datepicker__month-container {
  background-color: black !important;
  width: 300px;
}

@media (max-width: 768px) {
  .react-datepicker__month-container {
    width: 240px !important;
  }
}

.react-datepicker__header {
  background-color: black !important;
  color: white !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker-time__header,
.react-datepicker__day {
  color: white !important;
}

.react-datepicker__day--disabled {
  opacity: 0.2 !important;
}

.react-datepicker__day--selected {
  background-color: #bb65ff !important;
  color: black !important;
}

.react-datepicker__day:hover {
  background-color: #bb65ff !important;
  color: black !important;
}

.react-datepicker__time-box {
  background-color: black !important;
  color: white !important;
}

.react-datepicker__time-list-item--selected {
  background-color: #bb65ff !important;
  color: black !important;
}

.react-datepicker__time-list-item:hover {
  background-color: #bb65ff !important;
  color: black !important;
}

/* // Edit pull-to-refresh styles */
.ptr--ptr {
  left: 50%;
  transform: translateX(-45%);
}

.standalone-pwa {
  display: none;
}

@media all and (display-mode: standalone) {
  .standalone-pwa {
    display: flex;
  }
}

.button-delete-state {
  opacity: 0.5 !important;
  pointer-events: none !important;
}

.custom-tooltip {
  background-color: black !important;
}

.earnings-tooltip {
  background-color: #a1a1a1 !important;
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -16px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 16px; /* gutter size */
}

.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 16px;
}

/* React tweet custom styles */

#tweet-skeleton > .react-tweet-theme {
  min-width: 100% !important;
}

.react-tweet-theme {
  background-color: #141414 !important;
  min-width: 580px !important;
  max-width: 100% !important;
}

@media (max-width: 768px) {
  .react-tweet-theme {
    min-width: 250px !important;
    width: 300px !important;
    max-width: 350px !important;
  }
}

[class^="tweet-replies_replies"] {
  display: none !important;
}
[class^="tweet-actions_reply"] {
  display: none !important;
}

[class^="tweet-header_authorFollow"] {
  display: none !important;
}
[class^="tweet-header_avatar"] {
  width: 32px !important;
  height: 32px !important;
}

[class^="tweet-header_header"] {
  font-size: 16px !important;
}

[class^="tweet-body_root"] {
  font-size: 16px !important;
}

[class^="react-tweet-theme"] {
  background-color: #e5e5e5 !important;
  border: 1px solid #242424 !important;
  border-radius: 16px !important;
}

[class^="quoted-tweet-container"] {
  min-width: 100% !important;
  max-width: 100% !important;
  overflow: hidden !important;
  border-radius: 16px !important;
}

.interweave-container {
  line-height: 0 !important;
  width: 100%;
  max-width: 100%;
}

/*
 Animate number from motion-plus classes
*/
.number-section-post {
  font-size: 16px;
  position: relative;
  bottom: 5px;
  align-self: flex-end;
  margin-left: 5px;
  letter-spacing: -0.02em;
  font-weight: 600;
  color: #9d9d9d;
}

@layer base {
  *:not(.normal-case, .uppercase, input, textarea) {
    text-transform: lowercase;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  .templates-normal-case * {
    text-transform: none !important;
  }

  /* implement markdown style */
  .markdown,
  .markdown * {
    text-transform: none !important;
  }

  html {
    --brand: #bb65ff;
    color-scheme: dark;
    background-color: black;
    color: white;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  :root {
    /* Grid templates */
    --grid-featured-contests: repeat(4, minmax(0, 320px));
    --grid-full-width: repeat(3, minmax(auto, 1fr)) 0.4fr;
    --grid-rewards-funding: 0.1fr 0.8fr 1.5fr 1fr 0.5fr;
    --grid-full-width-create-flow: auto auto 1fr;
    --grid-rewards-review-table-without-tokens: 0.2fr 0.3fr 1fr;
    --grid-rewards-review-table: 0.2fr 0.3fr 1fr;

    accent-color: var(--brand);
    --toastify-color-success: #78ffc6 !important;
    --toastify-color-error: #ff78a9 !important;
    --toastify-color-info: #ffff !important;
    --toastify-icon-color-error: #ff78a9 !important;
    --toastify-icon-color-info: #bb65ff !important;
    --toastify-text-color-success: black !important;
    --toastify-text-color-info: black !important;
    --toastify-text-color-error: black !important;
    --toastify-toast-width: 360px !important;
    --toastify-toast-min-height: 80px !important;
  }
  :focus-visible {
    outline-color: var(--brand);
  }
  ::selection {
    background-color: var(--brand);
  }
  ::marker:not(li) {
    color: var(--brand);
  }
  *::selection {
    color: var(--color-true-black);
  }

  .placeholder-bold::placeholder {
    font-weight: bold;
  }

  :is(
      ::-webkit-calendar-picker-indicator,
      ::-webkit-clear-button,
      ::-webkit-inner-spin-button,
      ::-webkit-outer-spin-button
    ) {
    color: var(--brand);
  }

  body {
    font-size: var(--text-base);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    caret-color: #bb65ff !important;
  }

  #__next,
  #__next > [data-rk=""] {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .navLink-desktop {
    padding: 0.5rem 0.75rem;
    border-radius: 9999px;
    font-weight: 600;
  }
  .navLink-desktop--inactive {
    color: var(--color-true-white);
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
    &:focus {
      color: var(--color-primary-10);
    }
  }
  .navLink-desktop--active {
    color: var(--color-primary-10);
  }

  .navLink-mobile {
    font-weight: 700;
    padding: 0.75rem 1rem;
  }

  .error-toast {
    width: 460px !important;
  }

  .prose :where(strong):not(:where([class~="not-prose"] *)) {
    color: inherit !important;
  }

  .prose :where(a):not(:where([class~="not-prose"] *)) {
    color: inherit !important;
  }

  .prose :where(img):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  .prose :where(hr):not(:where([class~="not-prose"] *)) {
    margin-top: 1.5em !important;
    margin-bottom: 1.5em !important;
  }
  .prose,
  .prose * {
    text-transform: initial !important;
  }
  .prose :where(blockquote p:first-of-type):not(:where([class~="not-prose"] *))::before,
  .prose :where(blockquote p:first-of-type):not(:where([class~="not-prose"] *))::after {
    content: none !important;
  }

  /* This will only target elements with the class 'prose' inside the create contest prompt component */
  .create-contest-prompt .prose :where(p):not(:where([class~="not-prose"] *)) {
    font-size: 16px !important;
  }

  .prose > span:first-child > *:first-child {
    margin-top: 0 !important;
  }
  .prose > span:first-child > *:last-child {
    margin-bottom: 0 !important;
  }

  /* Placeholder (at the top) */
  .ProseMirror p.is-editor-empty:first-child::before {
    color: #6a6a6a;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  /* Placeholder (at the top) */
  .ProseMirror p.is-editor-create-flow-empty:first-child::before {
    color: #6a6a6a;
    font-weight: bold;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  /* Placeholder (at the top) */
  .ProseMirror p.is-editor-comment-empty:first-child::before {
    color: #6a6a6a;
    font-weight: bold;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  .filter-send-commment-icon {
    filter: invert(76%) sepia(12%) saturate(1494%) hue-rotate(97deg) brightness(119%) contrast(101%);
  }

  .blurProposals {
    opacity: 50% !important;
  }

  .arrow-list-item {
    list-style: none;
    position: relative;
  }

  .arrow-list-item::before {
    content: ">";
    margin-right: 0.5rem;
  }
}

.loadingDots:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026";
  width: 0px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 10s linear infinite;
}

@keyframes ellipsis {
  to {
    width: 40px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 40px;
  }
}

.joke-3d {
  position: relative;
  color: white;
  text-shadow: -5px 4px 0 #6a6a6a, -5px -1px 0 #6a6a6a, -1px 1px 0 #6a6a6a, 1px 1px 0 #6a6a6a;
}

@media (max-width: 768px) {
  .joke-3d {
    text-shadow: -3px 2px 0 #6a6a6a, -3px 0px 0 #6a6a6a, -1px 1px 0 #6a6a6a, 1px 1px 0 #6a6a6a;
  }
}

@layer components {
  .container {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    max-width: 1024px;
  }

  @media (max-width: 768px) {
    .grid-rewards-review-table {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  @media (max-width: 768px) {
    .grid-rewards-review-table-without-tokens {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  .dropdownBorder {
    border: 2px solid #bb65ff;
  }

  .no-marker li {
    list-style: none;
  }

  .form-field--disabled {
    opacity: 50%;
    cursor: not-allowed;
  }
  .input--invalid,
  .input[aria-invalid="true"],
  .input:not(:placeholder-shown, [type="datetime-local"]):invalid,
  .input[aria-invalid="true"][type="datetime-local"] {
    background-color: #ff78a9;
    border: 2px solid #ff78a9;
    &:focus {
      border: 2px solid #ff78a9;
    }
    &::placeholder {
      color: #ff78a9;
    }
  }

  .twitter-tweet.twitter-tweet-rendered,
  .twitter-tweet.twitter-tweet-rendered > iframe {
    max-width: 100%;
    @media (max-width: 768px) {
      max-width: 320px;
    }
  }
}

@layer utilities {
  .placeholder-bold::placeholder {
    font-weight: bold;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

[aria-labelledby="rk_chain_modal_title"] [tabindex="0"] ~ [role="document"] > div > div {
  overflow-y: auto;
  @media (min-width: 768px) {
    max-height: unset;
  }
  max-height: calc(100vh - 60px);
}

#para-modal > cpsl-auth-modal {
  z-index: 9999999999;
}
