/*
  font-face rules (custom fonts declarations)
*/

@font-face {
  src: url("/Sabo-Filled.otf") format("opentype");
  font-family: "Sabo";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  src: url("/Lato-Regular.woff2") format("woff2");
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  src: url("/Lato-Bold.woff2") format("woff2");
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  src: url("/Lato-Black.woff2") format("woff2");
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

/* Edit toastify styles */

.Toastify__toast-theme--colored.Toastify__toast--default {
  background-color: white !important;
  color: #e5e5e5 !important;
  border-radius: 10px !important;
  box-shadow: 0 -2px 4px #28282c, 0 2px 4px #28282c, 0 1px 2px #28282c !important;
}

.Toastify__close-button {
  color: black !important;
}

/* Custom bullet points */
.list-explainer {
  list-style: none !important;
}

.list-explainer li::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("/explainer/small-ellipse.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
  vertical-align: middle;
  transition: transform 0.3s ease;
  margin-top: 5px;
}

li.funds-distributed::before {
  background: url('/rewards/distributed-ellipse.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

li.no-funds-distributed::before {
  background: url('/rewards/no-funds-distributed-ellipse.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.list-explainer li:hover::before {
  transform: rotate(15deg);
}

.createHeaderShadows {
  filter: drop-shadow(0px 3px 4px rgba(255, 226, 91, 0.6));
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove labels from rc-slider */
.rc-slider-mark-text {
  font-size: 0 !important;
}

li {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *:not(.normal-case, .uppercase, input, textarea) {
    text-transform: lowercase;
  }

  /* implement markdown style */
  .markdown,
  .markdown * {
    text-transform: none !important;
  }

  html {
    --brand: theme("colors.primary.10");
    scrollbar-color: var(--brand) Canvas;
    color-scheme: dark;
    overflow-y: scroll;
  }

  :root {
    accent-color: var(--brand);
    --toastify-color-success: #78ffc6 !important;
    --toastify-color-error: #ff78a9 !important;
    --toastify-color-info: #ffff !important;
    --toastify-icon-color-error: #ff78a9 !important;
    --toastify-icon-color-info: #ffe25b !important;
    --toastify-text-color-success: black !important;
    --toastify-text-color-info: black !important;
    --toastify-text-color-error: black !important;
    --toastify-toast-width: 360px !important;
    --toastify-toast-min-height: 80px !important;
  }
  :focus-visible {
    outline-color: var(--brand);
  }
  ::selection {
    background-color: var(--brand);
  }
  ::marker:not(li) {
    color: var(--brand);
  }
  *::selection {
    @apply text-true-black;
  }

  .placeholder-bold::placeholder {
    font-weight: bold;
  }

  :is(
      ::-webkit-calendar-picker-indicator,
      ::-webkit-clear-button,
      ::-webkit-inner-spin-button,
      ::-webkit-outer-spin-button
    ) {
    color: var(--brand);
  }
  html {
    @apply bg-true-black text-true-white overflow-x-hidden;
  }
  body {
    @apply text-base flex flex-col min-h-screen;
  }

  #__next,
  #__next > [data-rk=""] {
    @apply grow flex flex-col;
  }

  .navLink-desktop {
    @apply py-2 px-3 rounded-full font-semibold;
  }
  .navLink-desktop--inactive {
    @apply text-true-white hover:bg-true-white hover:bg-opacity-10 focus:text-primary-10;
  }
  .navLink-desktop--active {
    @apply text-primary-10;
  }

  .navLink-mobile {
    @apply font-bold px-4 py-3;
  }

  /* .prose a,
  .with-link-highlighted a,
  .link {
    @apply cursor-pointer font-bold text-positive-9 underline focus:text-positive-10 hover:no-underline;
  } */

  .prose :where(hr):not(:where([class~="not-prose"] *)) {
    margin-top: 1.5em !important;
    margin-bottom: 1.5em !important;
  }
  .prose,
  .prose * {
    text-transform: initial !important;
  }
  .prose :where(blockquote p:first-of-type):not(:where([class~="not-prose"] *))::before,
  .prose :where(blockquote p:first-of-type):not(:where([class~="not-prose"] *))::after {
    content: none !important;
  }

  .prose > span:first-child > *:first-child {
    margin-top: 0 !important;
  }
  .prose > span:first-child > *:last-child {
    margin-bottom: 0 !important;
  }

  /* Placeholder (at the top) */
  .ProseMirror p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
  /* Placeholder (at the top) */
  .ProseMirror p.is-editor-create-flow-empty:first-child::before {
    color: #6a6a6a;
    font-weight: bold;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
}

@layer components {
  .container {
    @apply px-5 lg:px-3 max-w-screen-lg;
  }

  .full-width-grid-cols {
    @apply grid;
    grid-template-columns: repeat(3, minmax(auto, 1fr)) 0.4fr;
    gap: 1rem;
  }

  .rewards-funding-grid {
    @apply grid;
    grid-template-columns: 0.1fr 0.8fr 1.5fr 1fr 0.5fr;
  }

  .dropdownBorder {
    @apply border-2 border-primary-10;
  }

  .needle {
    @apply -mt-0.5 -ml-0.5;
  }

  .no-marker li {
    list-style: none;
  }

  .form-field--disabled {
    @apply opacity-50 cursor-not-allowed;
  }
  .input--invalid,
  .input[aria-invalid="true"],
  .input:not(:placeholder-shown, [type="datetime-local"]):invalid,
  .input[aria-invalid="true"][type="datetime-local"] {
    @apply bg-negative-1 bg-negative-2 border-negative-6 focus:border-negative-8 placeholder:text-negative-11 text-negative-11 !important;
  }

  .twitter-tweet.twitter-tweet-rendered,
  .twitter-tweet.twitter-tweet-rendered > iframe {
    @apply !max-w-full !xs:max-w-screen-2xs;
  }
}

[aria-labelledby="rk_chain_modal_title"] [tabindex="0"] ~ [role="document"] > div > div {
  @apply overflow-y-auto md:max-h-unset;
  max-height: calc(100vh - 60px);
}
