/* Edit toastify styles */

.Toastify__toast-theme--colored.Toastify__toast--default {
  background-color: white !important;
  color: #e5e5e5 !important;
  border-radius: 10px !important;
  box-shadow:
    0 -2px 4px #28282c,
    0 2px 4px #28282c,
    0 1px 2px #28282c !important;
}

.Toastify__close-button {
  color: black !important;
}

/* Custom bullet points */
.list-explainer {
  list-style: none !important;
}

.list-entry-charge {
  list-style: none !important;
}

.list-explainer li::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("/explainer/small-ellipse.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
  vertical-align: middle;
  transition: transform 0.3s ease;
  margin-top: 5px;
}
.list-entry-charge li::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("/explainer/small-ellipse-gray.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
  vertical-align: middle;
  transition: transform 0.3s ease;
  margin-top: 5px;
}

li.funds-distributed::before {
  background: url("/rewards/distributed-ellipse.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

li.no-funds-distributed::before {
  background: url("/rewards/no-funds-distributed-ellipse.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.list-explainer li:hover::before {
  transform: rotate(15deg);
}

.list-entry-charge li:hover::before {
  transform: rotate(15deg);
}

.list-bullet-points li::before {
  content: "\2022";
  color: #9d9d9d;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.createHeaderShadows {
  filter: drop-shadow(0px 3px 4px rgba(255, 226, 91, 0.6));
}

.infinite-submissions {
  text-shadow: 1px 1px 8px rgba(120, 255, 198, 1);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove labels from rc-slider */
.rc-slider-mark-text {
  font-size: 0 !important;
}

li {
  box-sizing: border-box;
}

/* Edit react-datepicker styles */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.react-datepicker {
  background-color: black !important;
  font-size: 14px !important;
  font-family: "Lato" !important;
  animation: fadeIn 0.3s ease-in-out;
}

.react-datepicker__month-container {
  background-color: black !important;
  width: 300px;
}

@media (max-width: 768px) {
  .react-datepicker__month-container {
    width: 240px !important;
  }
}

.react-datepicker__header {
  background-color: black !important;
  color: white !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker-time__header,
.react-datepicker__day {
  color: white !important;
}

.react-datepicker__day--disabled {
  opacity: 0.2 !important;
}

.react-datepicker__day--selected {
  background-color: #ffe25b !important;
  color: black !important;
}

.react-datepicker__day:hover {
  background-color: #ffe25b !important;
  color: black !important;
}

.react-datepicker__time-box {
  background-color: black !important;
  color: white !important;
}

.react-datepicker__time-list-item--selected {
  background-color: #ffe25b !important;
  color: black !important;
}

.react-datepicker__time-list-item:hover {
  background-color: #ffe25b !important;
  color: black !important;
}

/* // Edit pull-to-refresh styles */
.ptr--ptr {
  left: 50%;
  transform: translateX(-45%);
}

.standalone-pwa {
  display: none;
}

@media all and (display-mode: standalone) {
  .standalone-pwa {
    display: flex;
  }
}

.infiniteScroll {
  overflow: visible !important;
}

.button-delete-state {
  opacity: 0.5 !important;
  pointer-events: none !important;
}

.custom-tooltip {
  background-color: black !important;
}

/* React tweet custom styles */
.react-tweet-theme {
  background-color: black !important;
  max-width: 100% !important;
}

@media (max-width: 768px) {
  .react-tweet-theme {
    max-width: 300px !important;
  }
}

[class^="tweet-replies_replies"] {
  display: none !important;
}
[class^="tweet-actions_reply"] {
  display: none !important;
}

[class^="tweet-header_authorFollow"] {
  display: none !important;
}
[class^="tweet-header_avatar"] {
  width: 32px !important;
  height: 32px !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *:not(.normal-case, .uppercase, input, textarea) {
    text-transform: lowercase;
  }

  /* implement markdown style */
  .markdown,
  .markdown * {
    text-transform: none !important;
  }

  html {
    --brand: theme("colors.primary.10");
    color-scheme: dark;
    overflow-y: scroll;
  }

  :root {
    accent-color: var(--brand);
    --toastify-color-success: #78ffc6 !important;
    --toastify-color-error: #ff78a9 !important;
    --toastify-color-info: #ffff !important;
    --toastify-icon-color-error: #ff78a9 !important;
    --toastify-icon-color-info: #ffe25b !important;
    --toastify-text-color-success: black !important;
    --toastify-text-color-info: black !important;
    --toastify-text-color-error: black !important;
    --toastify-toast-width: 360px !important;
    --toastify-toast-min-height: 80px !important;
  }
  :focus-visible {
    outline-color: var(--brand);
  }
  ::selection {
    background-color: var(--brand);
  }
  ::marker:not(li) {
    color: var(--brand);
  }
  *::selection {
    @apply text-true-black;
  }

  .placeholder-bold::placeholder {
    font-weight: bold;
  }

  :is(
      ::-webkit-calendar-picker-indicator,
      ::-webkit-clear-button,
      ::-webkit-inner-spin-button,
      ::-webkit-outer-spin-button
    ) {
    color: var(--brand);
  }
  html {
    @apply bg-true-black text-true-white overflow-x-hidden;
  }
  body {
    @apply text-base flex flex-col min-h-screen;
    caret-color: #ffe25b !important;
  }

  #__next,
  #__next > [data-rk=""] {
    @apply grow flex flex-col;
  }

  .navLink-desktop {
    @apply py-2 px-3 rounded-full font-semibold;
  }
  .navLink-desktop--inactive {
    @apply text-true-white hover:bg-true-white hover:bg-opacity-10 focus:text-primary-10;
  }
  .navLink-desktop--active {
    @apply text-primary-10;
  }

  .navLink-mobile {
    @apply font-bold px-4 py-3;
  }

  .error-toast {
    width: 460px !important;
  }

  .prose :where(strong):not(:where([class~="not-prose"] *)) {
    color: inherit !important;
  }

  .prose :where(a):not(:where([class~="not-prose"] *)) {
    color: inherit !important;
  }

  .prose :where(hr):not(:where([class~="not-prose"] *)) {
    margin-top: 1.5em !important;
    margin-bottom: 1.5em !important;
  }
  .prose,
  .prose * {
    text-transform: initial !important;
  }
  .prose :where(blockquote p:first-of-type):not(:where([class~="not-prose"] *))::before,
  .prose :where(blockquote p:first-of-type):not(:where([class~="not-prose"] *))::after {
    content: none !important;
  }

  /* This will only target elements with the class 'prose' inside the create contest prompt component */
  .create-contest-prompt .prose :where(p):not(:where([class~="not-prose"] *)) {
    font-size: 20px !important;
  }

  .prose > span:first-child > *:first-child {
    margin-top: 0 !important;
  }
  .prose > span:first-child > *:last-child {
    margin-bottom: 0 !important;
  }

  /* Placeholder (at the top) */
  .ProseMirror p.is-editor-empty:first-child::before {
    color: #6a6a6a;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  /* Placeholder (at the top) */
  .ProseMirror p.is-editor-create-flow-empty:first-child::before {
    color: #6a6a6a;
    font-weight: bold;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  /* Placeholder (at the top) */
  .ProseMirror p.is-editor-comment-empty:first-child::before {
    color: #9d9d9d;
    font-weight: bold;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  .filter-send-commment-icon {
    filter: invert(76%) sepia(12%) saturate(1494%) hue-rotate(97deg) brightness(119%) contrast(101%);
  }

  .blurProposals {
    opacity: 50% !important;
  }
}

.loadingDots:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026";
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 40px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 40px;
  }
}

@layer components {
  .container {
    @apply px-5 lg:px-3 max-w-screen-lg;
  }

  .full-width-grid-cols {
    @apply grid;
    grid-template-columns: repeat(3, minmax(auto, 1fr)) 0.4fr;
    gap: 1rem;
  }

  .rewards-funding-grid {
    @apply grid;
    grid-template-columns: 0.1fr 0.8fr 1.5fr 1fr 0.5fr;
  }

  .full-width-create-flow-grid {
    @apply grid;
    grid-template-columns: auto auto 1fr;
  }

  .dropdownBorder {
    @apply border-2 border-primary-10;
  }

  .needle {
    @apply -mt-0.5 -ml-0.5;
  }

  .no-marker li {
    list-style: none;
  }

  .form-field--disabled {
    @apply opacity-50 cursor-not-allowed;
  }
  .input--invalid,
  .input[aria-invalid="true"],
  .input:not(:placeholder-shown, [type="datetime-local"]):invalid,
  .input[aria-invalid="true"][type="datetime-local"] {
    @apply bg-negative-1 bg-negative-2 border-negative-6 focus:border-negative-8 placeholder:text-negative-11 text-negative-11 !important;
  }

  .twitter-tweet.twitter-tweet-rendered,
  .twitter-tweet.twitter-tweet-rendered > iframe {
    @apply !max-w-full !xs:max-w-screen-2xs;
  }

  .submission-subscription-input::placeholder {
    font-weight: 700;
  }

  /* Customize the label (the container) */
  .checkbox-container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #9d9d9d;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Change the border of the checkmark when the checkbox is checked */
  .checkbox-container input:checked ~ .checkmark {
    border: 1px solid #78ffc6;
  }

  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {
    left: 8px;
    top: 3px;
    width: 6px;
    height: 15px;
    border: 1px solid #78ffc6;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@layer utilities {
  .placeholder-bold::placeholder {
    @apply font-bold;
  }
}

[aria-labelledby="rk_chain_modal_title"] [tabindex="0"] ~ [role="document"] > div > div {
  @apply overflow-y-auto md:max-h-unset;
  max-height: calc(100vh - 60px);
}
